<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>渠道接口查询</title>
    <link th:href="@{/main.css}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" th:src="@{/jquery-1.9.1.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        function queryDetail(code){
            window.location.href="queryDetail?code="+code;
        }
    </script>
</head>
<body>
<div align="center">
    <form id="form" action="query"   name="form">
        <!--/*
            th:fragment="queryArea"  ${query}定义查询框内容
            th:fragment="resultArea" 定义结果展示内容
        */-->
        <!--    <th:block th:replace="queryBase::main(~{::queryArea})">-->
        <!--/* 只需要写真正的查询内容table，引用模板时，直接传入 */-->
        <table th:fragment="queryArea" border="0" cellspacing="3" cellpadding="0" class="content_table">
            <tr>
                <td width="120" height="30" align="right">模块:</td>
                <td>
                    <select  id="module" name="module">
                        <option value="">请选择</option>
                        <option th:each="mo: ${Modules}" th:value="${mo}" th:text="${mo}" ></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="120" height="30" align="right">交易码:</td>
                <td><input  style="width:100px;" name="code" type="text" th:value="${code}"/></td>
            </tr>
            <tr>
                <td width="120" height="30" align="right">交易名称:</td>
                <td><input  style="width:100px;" name="name" type="text" th:value="${name}"/></td>
            </tr>
            <tr>
                <td height="30" colspan="15" align="center">
                    <input type="submit" value="查询" class="inp_L3"    />
                </td>
            </tr>
        </table>
    </form>

    <th:block th:if="${ErrorMsg ne null}">
        <span th:text="${ErrorMsg}" style="color: red"></span>
    </th:block>
    <th:block th:if="${TransList ne null}">
        <div th:replace="TransList::TransList">
        </div>
    </th:block>
    <th:block th:if="${TransCode ne null}">
        <div  th:replace="dataform::info" >
        </div>
    </th:block>
</div>

</body>
</html>